body{
    height: 900px;
    background: linear-gradient(to bottom, rgb(46, 40, 40) 99%, limegreen 0.1% );
}

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

/*FRONTEND WEB DEV FELIRAT*/

#container-h1{
    text-align: center;
    position: relative;
    top: 19%;
    left: 44.9%;
    width: 10%;
    color: white;
    transition: 1s ease-in-out;
}

#container-h1:hover{
    color: white;
    transform: scale(1.3);
}

/* GAME-DEV FELIRAT*/

#container-2-h1{
    text-align: center;
    color: white;
    position: relative;
    width: 10%;
    top: 19%;
    left: 44.9%;
    transition: 1s ease-in-out;
}

#container-2-h1:hover{
    color: white;
    transform: scale(1.3);
}


/*      Minden kártya alap beállítása      */
.card-html, .card-css, .card-js, .card-python, .card-lua, .card-java, .card-CSHARP {
    padding: 50px;
    width: 200px;
    height: 300px;
    text-align: center;
    transition: 2s;
    border-radius: 40px;
}

/*      MINDEN KÁRTYA     */



/*      HTML-CARD       */

.htmlimg{
    transition: 2s;
}

.card-html:hover{
    border: 5px solid #f06529;
    border-radius: 20px;
    cursor: pointer;
}

.htmlimg:hover{
    filter: drop-shadow(1px 1px 20px #f06529);
    transform: scale(1.15);
}


/*      CSS-CARD        */

.cssimg{
    width: 240px;
    height: 239px;
    position: relative;
    right: 20px;
    transition: 2s;
}

.card-css:hover{
    border: 5px solid #2965f1;
    border-radius: 20px;
    cursor: pointer;
}

.cssimg:hover{
    filter: drop-shadow(1px 1px 20px #2965f1);
    transform: scale(1.15);
}


/*      JS-CARD     */

.jsimg{
    width: 240px;
    height: 239px;
    position: relative;
    right: 20px;
    transition: 2s;
}

.card-js:hover{
    border: 5px solid #f0db4f;
    border-radius: 20px;
    cursor: pointer;
}

.jsimg:hover{
    filter: drop-shadow(1px 1px 20px #f0db4f);
    transform: scale(1.15);
}


/*      PYTHON-CARD     */

.pythonimg{
    position: relative;
    right: 28.5px;
    transition: 2s;
}

.card-python:hover{
    max-width: 250px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(rgb(46, 40, 40), rgb(46, 40, 40)) padding-box,
                linear-gradient(120deg, #2965f1, #f0db4f) border-box;
    border: 5px solid transparent;
    border-radius: 20px;
}

.pythonimg:hover{
    filter: drop-shadow(1px 1px 15px #829ba4);
    transform: scale(1.1);
}

.python-h1{
    background: linear-gradient(to left, blue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


/*      LUA-CARD      */

.luaimg{
    width: 400px;
    height: 250px;
    position: relative;
    right: 103px;
    transition: 2s;
}

.card-lua:hover{
    border: 5px solid #00007D;
    border-radius: 20px;
    cursor: pointer;
}


.luaimg:hover{
    filter: drop-shadow(1px 1px 15px #00007D);
    transform: scale(1.15);
}


/*      JAVA-CARD      */

.javaimg{
    width: 300px;
    height: 249px;
    right: 55px;
    bottom: 20px;
    position: relative;
    transition: 2s;
}

.card-java:hover{
    max-width: 250px;
    position: relative;
    cursor: pointer;
    background: linear-gradient(rgb(46, 40, 40), rgb(46, 40, 40)) padding-box,
                linear-gradient(to bottom, #f89820 , #5382a1 ) border-box;
    border: 5px solid transparent;
    border-radius: 20px;
}


.javaimg:hover{
    filter: drop-shadow(1px 1px 15px #00007D);
    transform: scale(1.15);

}

.java-h1{
        background: linear-gradient(to left, #f89820 45%, #5382a1 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    
    }

/*      C#-CARD      */

.CSHARPimg{
    width: 250px;
    height: 249px;
    right: 25px;
    position: relative;
    transition: 2s;
}

.card-CSHARP:hover{
    border: 5px solid #280068;
    border-radius: 20px;
    cursor: pointer;
}

.CSHARPimg:hover{
    filter: drop-shadow(1px 1px 15px #280068);
    transform: scale(1.1);
}


/*      Kártyák VÉGE       */


@media only screen and (max-width: 800px) and (max-height: 1000px){ /* Retina display */

    .container{
        display: flex;
        flex-wrap: wrap;
        scale: 0.6;
        position: relative;
        top: -100px;
    }

    #container-h1{
        position: relative;
        top: 1px;
        left: 26%;
        width: 50%;
    }
    
}


h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
}

